<%- include('../_partials/header.ejs') %>

<h1>A propos...</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos earum rem ab doloremque maiores impedit nobis, qui cupiditate exercitationem nostrum tenetur molestiae eius dolore cumque neque, quo porro voluptatem quas?</p>

<%- include('../_partials/footer.ejs') %>
