<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/about">A propos</a></li>
    </ul>
    <ul>
        <% if(locals.session.isConnected) { %>
            <li><a href="/auth/logout">Se déconnecter</a></li>
        <% } else { %>
            <li><a href="/auth/login">Se connecter</a></li>
            <li><a href="/auth/register">S'enregistrer</a></li>
        <% } %>
    </ul>
    <hr>
</nav>